/*  CORPO DO SITE   */
body {
  margin: 0;
  background-color: #e6e6e6;
}

/*  NAVBAR   */

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  width: 100%;
}
ul.topnav li {
  float: left;
}
ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.topnav li a:hover:not(.active) {
  background-color: #111;
}
ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

.descricao {
  border: solid #e6e6e6;
  border-width: 1px 1px 1px 50px;
  padding-right: 50px;
  padding-top: 50px;
}

.text-1{
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.text-2{
  font-size: 30px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.container{
  padding-top: 50px;
}

.imagem{
  display: inline-block;
  padding-left: 50px;
  padding-right: 70px;
}

.video{
  display: inline-block;
  padding-left: 50px;
  padding-right: 70px;
}
.paragrafos{
margin: 50px;
text-align: justify;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
p{
  font-size: 18px;
}

.footer{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: white;
text-align: center;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}